<!doctype html>
<html>
​
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Prediction</title>
​
    <style>
        body
        {
            background-image: url(https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2021/11/shutterstock_1488035675-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: 	#B22222;
            font-size: large;
           
            margin-top: 40px;
            margin-left: 50px;
        }

</style>
​
</head>
​
​
   <body>
​
        
<center>
    <p style=" font-weight: bold; font-size: large; padding-left: 1200px; margin-top: 50px;"></p>
</center>
​
       <h1> Stroke Prediction: {{ prediction_html }}</h1>
       
   </body>
</html>











